{% extends "layout.html" %}
{% from "macro.html" import movie_item, order_list,movie_list with context %}
{% from 'macro.html' import render_pagination with context %}

{% block container %}
    <h3 style="padding-left:15px">地区：{{ current_area.name }}<sup class="tags-del" data-url="/movie/tags"></sup></h3>
	<div class="col-md-9">
    {{order_list('/movie/area/'+current_area.id|str+'?sort=',current_sort_type)}}
    {{ movie_list(results, current_user) }}
    <p>
        {{ render_pagination(pagination, '/movie/area/'+current_area.id|str+'?sort='+current_sort_type+'&') }}
    </p>
    </div>

{% endblock %}