DBUtils==1.2
Flask==0.12.2
Flask-Admin==1.5.0
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Markdown==0.3
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.2
Flask-Testing==0.6.2
Jinja2==2.9.6
Markdown==2.6.8
MarkupSafe==1.0
mysql-connector==2.1.4
pip==9.0.1
PyMySQL==0.7.11
SQLAlchemy==1.1.10
urllib==1.21.1
WTForms==2.1
Flask-BasicAuth==0.2.0
enum==0.4.6
